<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div class="container">
            <div class="starter-template">
                <h1>403 - Access is denied</h1>
                <div th:inline="text">Hello '[[${#httpServletRequest.remoteUser}]]', 
                    you do not have permission to access this page.</div>
                <table>
                    <tbody>
                    <tr><td rowspan = "2"><img src="https://localhost:8080/img/logo.png" width="300px"/></td><td></td></tr>
                    <tr><td></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.container -->
    </body>
</html>